In [0]:
import numpy as np
import pandas as pd

In [0]:
df = pd.read_csv('/content/moviereviews.tsv', sep='\t')

In [52]:
df.head()

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...

In [0]:
df.dropna(inplace=True)

In [0]:
blanks = []

for i, lb, rv in df.itertuples():
    if type(rv) == str:
        if rv.isspace():
            blanks.append(i)

df.drop(blanks, inplace=True)

In [57]:
df['label'].value_counts()

neg    969
pos    969
Name: label, dtype: int64

In [0]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [0]:
sid = SentimentIntensityAnalyzer()

In [0]:
df['scores'] = df['review'].apply(lambda review:sid.polarity_scores(review))

In [61]:
df.head()

  label  ...                                             scores
0   neg  ...  {'neg': 0.121, 'neu': 0.778, 'pos': 0.101, 'co...
1   neg  ...  {'neg': 0.12, 'neu': 0.775, 'pos': 0.105, 'com...
2   pos  ...  {'neg': 0.067, 'neu': 0.783, 'pos': 0.15, 'com...
3   pos  ...  {'neg': 0.069, 'neu': 0.786, 'pos': 0.145, 'co...
4   neg  ...  {'neg': 0.09, 'neu': 0.822, 'pos': 0.088, 'com...

[5 rows x 3 columns]

In [0]:
df['compound'] = df['scores'].apply(lambda d:d['compound'])

In [63]:
df.head()

  label  ... compound
0   neg  ...  -0.9125
1   neg  ...  -0.8618
2   pos  ...   0.9953
3   pos  ...   0.9972
4   neg  ...  -0.7264

[5 rows x 4 columns]

In [0]:
df['comp_score'] = df['compound'].apply(lambda score:'pos' if score>=0 else 'neg')

In [65]:
df.head()

  label                                             review  ... compound  comp_score
0   neg  how do films like mouse hunt get into theatres...  ...  -0.9125         neg
1   neg  some talented actresses are blessed with a dem...  ...  -0.8618         neg
2   pos  this has been an extraordinary year for austra...  ...   0.9953         pos
3   pos  according to hollywood movies made in last few...  ...   0.9972         pos
4   neg  my first press screening of 1998 and already i...  ...  -0.7264         neg

[5 rows x 5 columns]

In [0]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [67]:
accuracy_score(df['label'], df['comp_score'])

0.6367389060887513

In [69]:
confusion_matrix(df['label'], df['comp_score'])

array([[427, 542],
       [162, 807]])

In [70]:
print(classification_report(df['label'], df['comp_score']))

              precision    recall  f1-score   support

         neg       0.72      0.44      0.55       969
         pos       0.60      0.83      0.70       969

    accuracy                           0.64      1938
   macro avg       0.66      0.64      0.62      1938
weighted avg       0.66      0.64      0.62      1938